## MAIN ##

<div id="$!context.ns">
  <form action="$!context.currentPageUrl" method="get" class="env-form">
    <div class="env-form-element">
      <label for="$!context.searchField" class="env-form-element__label">Sök på filnamn eller fil-ID.</label>
      <div class="env-form-element__control">
        <input type="text" class="env-form-input" name="$!context.searchField" id="$!context.searchField" value="$!context.searchValue">
      </div>
    </div>
    <div class="env-form-element">
      <button type="submit" class="env-button env-button--primary">Sök</button>
    </div>
  </form>

  #if( $!context.hasItems )
    <p class="env-text">Hittade $!context.items.length träff(ar) på söktermen <strong>$!context.searchValue</strong></p>

    <table class="env-table env-table--zebra env-w--100 env-m-top--large">
      <thead>
        <tr>
          <th>Namn</th>
          <th>Plats</th>
        </tr>
      </thead>
      <tbody>
        #foreach( $item in $!context.items )
          <tr>
            <td>
              #if( $!item.editUrl != "" )
                <a href="$!item.editUrl">$!item.title</a>
              #else
                $!item.title
              #end
            </td>
            <td>$!item.type</td>
          </tr>
        #end
      </tbody>
    </table>
  #elseif( $!context.searchValue != "" )
    <p class="env-text">Hittade inga träffar på söktermen <strong>$!context.searchValue</strong></p>
  #end
</div>
